main {
    height: auto;
    padding-top: 6rem;
    overflow: hidden;
    padding-bottom: 0;
    margin-bottom: -130px;
}

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("../../assets/iert\ colleage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hme {
    display: flex;
    flex-direction: row;
}

.hme2 {
    margin-left: -60%;
    margin-top: -100px;
    width: 100%;
}

#nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
    margin-top: -35px;
}

.img{
    margin-top: 220px;
    margin-left: 70px;
    height: 100px;
    width: 100px;
}

.pages{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-top: -50px;
    color: white;
    font-weight: 600;
}

.btn1 {
    cursor: pointer;
    border: 1px solid white;
    color: white;
    padding: 0.30rem 1.2rem;
    border-radius: 0.1rem;
    margin-top: -50px;
    margin-right: 70px;
    background: none;
}

.btn2{
    cursor: pointer;
    background: #E8A902;
    ;
    color: white;
    padding: 0.30rem 1.2rem;
    border-radius: 0.1rem;
    margin-left: 130px;
    margin-bottom: 80px;
}

.btn2:hover{
    background-color: white;
    color: black;
    font-weight: 700;
}

.wel1{
    color: white;
    line-height: 60px;
    font-size: xxx-large;
    font-weight: 600;
    margin-left: 130px;

    /* margin-right: -15%; */

    margin-top: 120px;
}

.wel2{
    color: white;
    line-height: 22px;
    font-weight: 500;
    margin-left: 130px;

    /* margin-right: -15%; */

    margin-bottom: 15px;
}


@media screen and (max-width:700px) {
   
    .hme {
        display: flex;
        flex-direction: column;
    }

    .hme2 {
        /* margin-left: -60%;
        margin-top: -100px; */
        width: 100%;
        margin-top: 80px;
        margin-left: -10%;
    }
    .img{
        margin-top: 220px;
        margin-left: 70px;
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width:500px) {
   
    .hme {
        display: flex;
        flex-direction: column;
    }

    .hme2 {
        /* margin-left: -60%;
        margin-top: -100px; */
        width: 100%;
        margin-top: 80px;
        margin-left: -15%;
    }
    .img{
        margin-top: 220px;
        margin-left: 70px;
        height: 100px;
        width: 100px;
    }
}


@media screen and (max-width:480px) {
   
    .wel1{
    
        margin-right: -15%;
    }
    
    .wel2{
    
        margin-right: -15%;
    }
    
}


@media screen and (max-width:425px) {
   
    .hme {
        display: flex;
        flex-direction: column;
    }

    .hme2 {
        /* margin-left: -60%;
        margin-top: -100px; */
        width: 100%;
        margin-top: 40px;
        margin-left: -23%;
    }
    .img{
        margin-top: 130px;
        margin-left: 40px;
        height: 100px;
        width: 100px;
    }
}

@media screen and (max-width:380px) {
    .hme2 {
        width: 100%;
        margin-top: 40px;
        margin-left: -28%;
    }
}